
:root {
    --bg-primary: #0B0E0F;
    --bg-secondary: #151819;
    --green: #53FC18;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.container {
    margin: 0px 80px; 
}
header {
    position: absolute;
    z-index: 10;
    width: 100%;
    padding-top:42px ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    /* justify-content: space-between; */
}
header ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
header ul li{
    display: flex;

}
header ul li a{
    color: #FFF;
    font-family: "Public Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.24px;
    text-decoration: none;
}
.home{
    position: relative;
    content: '';
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(../images//Rectangle\ 8.png) lightgray 50% / cover no-repeat;
    height: 100%;
    width: 100%;
    padding: 150px 0px;
    padding-bottom: 80px;
}

.home #main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    text-align: center;
    color: white;
    margin: 0px auto;
    font-family: "Public Sans", sans-serif;
    
}
.home h6{
    font-size: 16px;
    font-weight: 400;
}
.home h1{
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    margin-top: -20px;
}
.home button{
    margin: 0px auto;
    padding: 10px 30px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 400;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
}
.home i{
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
    margin: 0px auto;
    color: white;
    margin-top: 30px;
    font-size: 16px;
    height: 40px;
    width: 40px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.head-img{
    display: none;
}

.menu-sub{
    position: absolute;
    background-color: #151819e8;
    width: 100%;
    height: 90%;
    color: white;
    display: none;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    text-align: center;
    justify-content: center;
    font-family: inter;
    font-weight: 500;
}
.menu-sub .icons i{
    font-size: 16px;
    align-items: center;
    background-color: var(--bg-primary);
    gap: 10px;
    padding: 10px;
    border-radius: 50%;
}
span{
    color: var(--green);
}
.review{
    padding: 50px 80px;
}
.review .slider{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.review .card{
    background-color: var(--bg-secondary);
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #3a3a3a;
    margin-right: 20px;
}
.review .slider .media{
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: white;
    width: 100%;
    font-family: "Public Sans", sans-serif;
    width: 100%;
}
.review .slider .media img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.review .media h3{
    font-size: 18px;
    font-weight: 600;
}
.review .media .media-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.review .media .left-media{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.review .media  .icons{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.review .media  i{
    color: #FFC700;
    font-size: 14px;
}
.review .right-media{
    font-size: 14px;
    margin-left: auto;
}
.review p{
    margin-top: 4px;
    font-size: 14px;
    font-weight: 400;
    color: white;
    font-family: "Public Sans", sans-serif;   
}
.archi {
    background-color: white;
    padding: 50px 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
}
.archi .card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0px 0px 10px rgb(210, 210, 210);
    border-radius: 10px;
    height: 190px;
    width: 200px;
}
.archi .card img{
    height: 60px;
    width: 60px;
}
.archi .card h4{
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}
.demo{
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: white;
    padding: 50px 120px;
}
.demo .req{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.demo .req h1{
    font-size: 40px;
    width: 300px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}
.demo .req p{
    font-size: 15px;
    font-weight: 300;
    color: #000000;
    font-family: "Public Sans", sans-serif;
    width: 80%;
}
.demo .form{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.demo .form input , .demo .form textarea{
    padding: 10px;
    border: 1px solid #00000023;
    border-radius: 5px;
    outline: none;

}
.demo .form button{
    padding: 10px 20px;
    border-radius: 80px;
    font-size: 14px;
    font-weight: 400;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: auto;
}
.demo .form i{
    margin-left: 3px;
}


.footer-wrapper {
    width: 100%;
    background: #000;
}

.footer-top {
    width: 100%;
    height: 480px;
    background-image: url(../images/footer-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-top h4 {
    width: 80%;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.20);
    font-family: "Playfair Display";
    font-size: 74px;
    font-style: normal;
    font-weight: 600;
    line-height: 78px;
    /* 105.405% */
    letter-spacing: 1.48px;
    margin: 65px 0 30px;
}

.footer-top p {
    width: 64%;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.20);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    /* 137.5% */
    letter-spacing: 0.32px;
    opacity: 0.4;
}

.footer-top button {
    color: #000;
    font-family: "Public Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.24px;
    padding: 8px 16px;
    border-radius: 80px;
    background: #FFF;
    cursor: pointer;
    margin-top: 40px;
    border: none;
}

.footer-line {
    width: 100%;
    height: 54px;
    flex-shrink: 0;
    background: linear-gradient(180deg, #000 15%, rgba(0, 0, 0, 0.00) 100%);
}

.footer-bottom {
    width: 100%;
    padding: 70px 100px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    border-bottom: 1px solid #191919;
    ;
}

.location,
.c1 {
    width: fit-content;
}

.c1>div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.c1>div>img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.c1>div>h6 {
    color: #FFF;
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.28px;
}

.c1>p {
    width: 329px;
    color: #FFF;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.24px;
    opacity: 0.5;
    margin-top: 22px;
}

.links>h6 {
    color: #FFF;
    font-family: "Public Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.36px;
    margin-bottom: 23px;
}

.links ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
}

.links ul li a {
    color: #FFF;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.24px;
    opacity: 0.5;
    text-decoration: none;
}

.location>h6 {
    color: #FFF;
    font-family: "Public Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.36px;
    margin-bottom: 36px;
}

.location img {
    width: 364px;
    height: 178px;
    flex-shrink: 0;
    border-radius: 15px;
}

.rights {
    width: 100%;
    padding: 25px;
    display: flex;
    align-items: center;
}

.rights p {
    width: 100%;
    color: #FFF;
    text-align: center;
    font-family: "Public Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}